@import url("./multi-device.css");
@import url("./header.css");
@import url("./footer.css");

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f9f9f9;
}
a {
  text-decoration: none;
  color: #0073e6;
}
a:hover {
  text-decoration: underline;
}

/* Main Content */
main {
  max-width: 800px;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.post-header h2 {
  color: #333;
  margin: 0;
  font-size: 24px;
}
.post-header p {
  color: #666;
  font-size: 14px;
}
img {
  max-width: 100%;
  border-radius: 8px;
  margin: 20px 0;
}
figcaption {
  font-size: 14px;
  color: #777;
  text-align: center;
}

/* Blockquote Styling */
blockquote {
  font-style: italic;
  margin: 20px 0;
  padding-left: 20px;
  border-left: 4px solid #ff0101;
  color: #555;
}

/* Section for Sharing */
.share {
  margin-top: 30px;
  text-align: center;
}
.share a {
  display: inline-block;
  margin: 5px;
  padding: 10px 15px;
  color: white;
  background-color: #ff0000;
  border-radius: 5px;
}
.share a:hover {
  background-color: #ff0000;
}

.author-area {
  display: flex;
  align-items: center;
  margin: 20px 0;
  background: #f3f3f3;
  padding: 15px;
  border-radius: 8px;
}
.author-area img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
}
.author-area div {
  font-size: 14px;
}
.author-area div p {
  margin: 5px 0;
  color: #666;
}
